/*
 *
 * MMM-SensorTemps
 *
 * MIT Licensed.
 *
 */
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.flex-column {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
